.DS_Store

*.synctex.gz
*.aux
*.bbl
*.blg
*.log
*.out
*.fdb_latexmk
*.fls
*.loc
*.soc
.venv
*.pdf
!paper/main.pdf
!paper/imgs/*.pdf
paper/IEEEexample.bib
paper/IEEEfull.bib
paper/IEEEtranS.bst
/tmp
gpt55_*/
gpt55_*.zip
